.so-widget-sow-image-default-31c423e8ff7c .widget-title {
  text-align: center;
}
.so-widget-sow-image-default-31c423e8ff7c .sow-image-container {
  text-align: center;
}
.so-widget-sow-image-default-31c423e8ff7c .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  width: inherit;
  height: auto;
}