.so-widget-sow-image-default-92021c48536f .widget-title {
  text-align: center;
}
.so-widget-sow-image-default-92021c48536f .sow-image-container .so-widget-image {
  display: block;
  max-width: 100%;
  width: inherit;
  height: auto;
}