/* --------------------------------------------------
  :: OptionTree Font
  ---------------------------------------------------*/
.ui-tabs li > a [class^="ot-icon-"],
.ui-tabs li > a [class*=" ot-icon-"] {
  display: block;
  height: 14px;
  float: right;
  padding: 2px 0px 0 9px;
}

/* --------------------------------------------------
  :: Messages
  ---------------------------------------------------*/
.wrap.settings-wrap div.error,
.wrap.settings-wrap div.updated {
  margin: 9px 2px 0px 5px !important;
}

/* --------------------------------------------------
  :: OptionTree Wrappers
  ---------------------------------------------------*/
#option-tree-settings-api > .ui-tabs {
  margin: 0px 2px 0 5px;
  -webkit-box-shadow: inset -146px 0 0 #f1f1f1, inset -147px 0 0 #ccc, 0 1px 3px rgba(0,0,0,0.05);
     -moz-box-shadow: inset -146px 0 0 #f1f1f1, inset -147px 0 0 #ccc, 0 1px 3px rgba(0,0,0,0.05);
          box-shadow: inset -146px 0 0 #f1f1f1, inset -147px 0 0 #ccc, 0 1px 3px rgba(0,0,0,0.05);
}

/* --------------------------------------------------
  :: Header
  ---------------------------------------------------*/
#option-tree-header li {
  float: right;
}
#option-tree-header #option-tree-logo a {
  border-right: 0;
  border-left: 1px solid #333;
  float: right;
  padding: 3px 13px 3px 12px;
}
#option-tree-header li#option-tree-logo:hover {
  -webkit-border-top-right-radius: 2px;
      -moz-border-radius-topright: 2px;
          border-top-right-radius: 2px;
}
#option-tree-header #option-tree-version span,
#option-tree-header #theme-version span {
  border-left: 0;
  border-right: 1px solid #555;
  float: left;
}
#option-tree-header #theme-version:before {
  border-right: 0;
  border-left: 1px solid #333;
  float: right;
}
/* light */
.admin-color-light #option-tree-header #option-tree-logo a,
.admin-color-light #option-tree-header #theme-version:before {
  border-left-color: #3c3c3c;
}
.admin-color-light #option-tree-header li#option-tree-logo:hover a {
  border-left-color: #3c3c3c;
}
.admin-color-light #option-tree-header #option-tree-version span,
.admin-color-light #option-tree-header #theme-version span {
  border-right-color: #999;
}
/* blue */
.admin-color-blue #option-tree-header #option-tree-logo a,
.admin-color-blue #option-tree-header #theme-version:before {
  border-left-color: #002b39;
}
.admin-color-blue #option-tree-header li#option-tree-logo:hover a {
  border-left-color: #002b39;
}
.admin-color-blue #option-tree-header #option-tree-version span,
.admin-color-blue #option-tree-header #theme-version span {
  border-right-color: #5dc2e6;
}
/* coffee */
.admin-color-coffee #option-tree-header #option-tree-logo a,
.admin-color-coffee #option-tree-header #theme-version:before {
  border-left-color: #0f0e0d;
}
.admin-color-coffee #option-tree-header li#option-tree-logo:hover a {
  border-left-color: #0f0e0d;
}
.admin-color-coffee #option-tree-header #option-tree-version span,
.admin-color-coffee #option-tree-header #theme-version span {
  border-right-color: #675f58;
}
/* ectoplasm */
.admin-color-ectoplasm #option-tree-header #option-tree-logo a,
.admin-color-ectoplasm #option-tree-header #theme-version:before {
  border-left-color: #181220;
}
.admin-color-ectoplasm #option-tree-header li#option-tree-logo:hover a {
  border-left-color: #181220;
}
.admin-color-ectoplasm #option-tree-header #option-tree-version span,
.admin-color-ectoplasm #option-tree-header #theme-version span {
  border-right-color: #644d85;
}
/* midnight */
.admin-color-midnight #option-tree-header #option-tree-logo a,
.admin-color-midnight #option-tree-header #theme-version:before {
  border-left-color: #090a0b;
}
.admin-color-midnight #option-tree-header li#option-tree-logo:hover a {
  border-left-color: #090a0b;
}
.admin-color-midnight #option-tree-header #option-tree-version span,
.admin-color-midnight #option-tree-header #theme-version span {
  border-right-color: #4c5359;
}
/* ocean */
.admin-color-ocean #option-tree-header #option-tree-logo a,
.admin-color-ocean #option-tree-header #theme-version:before {
  border-left-color: #39464a;
}
.admin-color-ocean #option-tree-header li#option-tree-logo:hover a {
  border-left-color: #39464a;
}
.admin-color-ocean #option-tree-header #option-tree-version span,
.admin-color-ocean #option-tree-header #theme-version span {
  border-right-color: #87a6af;
}
/* sunrise */
.admin-color-sunrise #option-tree-header #option-tree-logo a,
.admin-color-sunrise #option-tree-header #theme-version:before {
  border-left-color: #8a322a;
}
.admin-color-sunrise #option-tree-header li#option-tree-logo:hover a {
  border-left-color: #8a322a;
}
.admin-color-sunrise #option-tree-header #option-tree-version span,
.admin-color-sunrise #option-tree-header #theme-version span {
  border-right-color: #e75546;
}

/* --------------------------------------------------
  :: Sub Header
  ---------------------------------------------------*/
#option-tree-sub-header {
  left: 0;
}

/* --------------------------------------------------
  :: Tabs
  ---------------------------------------------------*/
.wrap.settings-wrap .ui-tabs-nav {
  float: right;
  margin: 0 -4px 0 0;
}
.wrap.settings-wrap .ui-tabs-nav li {
  border-left-width: 0;
  border-right-width: 1px;
  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;
}
.wrap.settings-wrap .ui-tabs-nav li > span i {
	margin-left: 5px;
	margin-right: 0;
}
.wrap.settings-wrap .ui-tabs-nav li a {
  padding: 5px 12px 5px 5px;
}

/* --------------------------------------------------
  :: Format Setting
  ---------------------------------------------------*/
.format-setting .format-setting-inner {
  float: right;
}
.format-setting .description {
  float: left;
}
#post .format-setting-inner p {
  float: right;
}
.docs-ul li {
  margin-left: 0;
  margin-right: 20px;
}
#contextual-help-setting {
  float: right;
}
#contextual-help-label {
  float: right;
}
#option_tree_settings_help {
  float: right;
}
#option-tree-settings-api blockquote {
  padding-left: 0;
  padding-right: 15px;
}
#option-tree-settings-api blockquote:before {
  left: auto;
  right: -10px;
  top: 10px;
}

/* --------------------------------------------------
  :: Input & Upload
  ---------------------------------------------------*/
input.option-tree-ui-upload-input,
input.option-tree-ui-input {
  -moz-box-shadow: inset -1px 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset -1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset -1px 1px 1px rgba(0, 0, 0, 0.05);
}
.option-tree-sortable input.option-tree-ui-upload-input,
.option-tree-sortable input.option-tree-ui-input {
  width: 99.9%; /* fixes a strange bug with input with */
}

/* --------------------------------------------------
  :: Upload
  ---------------------------------------------------*/
div.option-tree-ui-media-wrap {
  margin: 8px 0 0 44px;
}
.type-upload .option-tree-ui-upload-parent .option-tree-ui-button.button {
  margin-left: 0 !Important;
  margin-right: 5px !Important;
}
/*.option-tree-ui-media-wrap img {
  float: right;
}*/
.option-tree-ui-upload-parent {
  margin-right: 0;
  margin-left: 44px;
}
.format-setting .ot_upload_media {
  right: auto !important;
  left: -44px;
}
.option-tree-ui-media-wrap a.option-tree-ui-remove-media {
  right: auto;
  left: -44px;
}

/* --------------------------------------------------
  :: Setting Item with Drag & Drop
  ---------------------------------------------------*/
.option-tree-setting .open {
  padding: 10px 10px 10px 100px;
}
.option-tree-setting .open:hover:before {
  left: auto;
  right: 4px;
}
.button-section {
  right: auto;
  left: 5px;
}

/* --------------------------------------------------
  :: Layouts
  ---------------------------------------------------*/
#option-tree-options-layouts-form {
  left: auto;
  right: 13px;
}
.option-tree-save-layout {
  float: right;
}
.option-tree-save-layout.active-layout {
  border-left: 0;
  border-right: 1px solid #fff;
  padding-left: 0;
  padding-right: 9px;
}
.option-tree-save-layout .widefat {
  float: right;
}
.option-tree-save-layout button.blue {
  margin: 0 10px 0 0;
}
.option-tree-active-layout {
  border-right: 0;
  border-left: 1px solid #ccc;
  float: right;
  padding: 10px 0 10px 10px;
}
.button.save-layout {
  margin: 0 10px 0 0 !important;
}

/* --------------------------------------------------
  :: Option Group
  ---------------------------------------------------*/
.ot-option-group {
  float: right;
  padding-right: 0px;
  padding-left: 5px;
}
.ot-option-group--is-last {
  padding-left: 0;
}
.ot-option-group--icon {
  border-left: 1px solid #ccc;
  border-right: 0px;
  left: auto;
  right: 1px;
}
.ot-option-group--icon + input.option-tree-ui-input {
  padding-left: 5px !important;
  padding-right: 34px !important;
  margin-left: 5px;
  margin-right: 0px;
}
.ot-option-group--checkbox {
  float: right;
  padding-right: 0px;
  padding-left: 10px;
}
#post-body .ot-option-group--checkbox p {
  float: right;
}

/* --------------------------------------------------
  :: Select
  ---------------------------------------------------*/

.select-wrapper:not(.select-uncode-colors) {
    background-image: url(../images/ot-select-rtl.png);
}
.select-wrapper:hover {
  background-image: url(../images/ot-select-hover-rtl.png) !important;
}
.select-wrapper span {
  padding-left: 27px;
  padding-right: 7px;
}
.type-measurement .select-wrapper {
  margin-left: 0;
  right: auto;
  left: 0px;
}
/* FireFox */
@-moz-document url-prefix() {
  #option-tree-options-layouts-form .select-wrapper {
    left: auto;
    right: 250px;
  }
}

/* --------------------------------------------------
  :: Measurement
  ---------------------------------------------------*/
.option-tree-ui-measurement-input-wrap {
  margin-right: 0;
  margin-left: 80px;
}

/* --------------------------------------------------
  :: Checkbox & Radio
  ---------------------------------------------------*/
.format-setting.type-checkbox input,
.format-setting.type-radio input {
  float: right;
  margin: 2px 1px 0 5px;
}
.format-setting.type-checkbox label,
.format-setting.type-radio label {
  float: right;
}
#option-tree-settings-api .format-setting.type-checkbox p,
#option-tree-settings-api .format-setting.type-radio p {
  float: right;
}

/* --------------------------------------------------
  :: Radio Images
  ---------------------------------------------------*/
.type-radio-image .option-tree-ui-radio-images {
  float: right;
  margin: 0 0px 10px 10px;
}

/* --------------------------------------------------
  :: Numeric Slider
  ---------------------------------------------------*/
.ot-numeric-slider-wrap {
  margin: 14px 0 0 76px;
  padding-right: 4px;
    padding-left: 0;
}
.ot-numeric-slider-wrap .ot-numeric-slider-helper-input {
  right: auto;
  left: 0px;
}

/* --------------------------------------------------
  :: Colorpicker
  ---------------------------------------------------*/
.option-tree-ui-colorpicker-input-wrap {
  float: right;
}
.option-tree-ui-colorpicker-input-wrap .option-tree-ui-colorpicker-label {
  margin-left: 10px;
  margin-right: 0px;
}
.type-link-color .option-tree-ui-colorpicker-input-wrap {
  margin-left: 20px;
  margin-right: 0px;
}
.option-tree-ui-colorpicker-input-wrap .wp-color-result {
  margin: 0px 0px 5px 5px;
}
.option-tree-ui-colorpicker-input-wrap .wp-picker-container .iris-picker {
  margin: 0px 0px 5px 5px;
}

/* --------------------------------------------------
  :: Google Font
  ---------------------------------------------------*/
.js-remove-google-font.option-tree-ui-button.button {
  margin-left: 5px;
  margin-right: 0;
  margin-top: 0;
}

/* --------------------------------------------------
  :: OptionTree UI Buttons
  ---------------------------------------------------*/
.option-tree-ui-button {
  float: right !important;
}
.option-tree-ui-button.right {
  float: left !important;
}
.option-tree-ui-button.hug-left {
  margin-right: 0px;
}
.option-tree-ui-button.hug-right {
  margin-left: 0px;
}
.option-tree-ui-button.left-item {
  float: right !important;
  margin: 5px 5px 5px 0;
  -webkit-border-radius: 0px 2px 2px 0px;
     -moz-border-radius: 0px 2px 2px 0px;
          border-radius: 0px 2px 2px 0px;
}
.option-tree-ui-button.center-item {
  margin: 5px -1px 5px 0;
}
.option-tree-ui-button.right-item {
  float: left !important;
  margin: 5px -1px 5px 5px;
  -webkit-border-radius: 2px 0px 0px 2px;
     -moz-border-radius: 2px 0px 0px 2px;
          border-radius: 2px 0px 0px 2px;
}
.option-tree-ui-buttons {
  margin: 11px 2px 0 5px;
}
button.reset-settings {
  left: auto;
  right: 8px;
}

/* --------------------------------------------------
  :: OptionTree UI Button Icons
  ---------------------------------------------------*/
.option-tree-ui-button .icon {
  float: right;
  text-indent: 0;
}
.option-tree-ui-button .icon.left-label {
  margin-left: 10px;
  float: left;
}

/* --------------------------------------------------
  :: Gallery
  ---------------------------------------------------*/
ul.ot-gallery-list {
  float: right;
}
ul.ot-gallery-list li {
  float: right;
  margin: 0px 0 10px 10px;
}
.ot-gallery-buttons {
  float: right;
}

/* --------------------------------------------------
  :: Google Fonts
  ---------------------------------------------------*/
.option-tree-google-font-family,
.option-tree-google-font-variants,
.option-tree-google-font-subsets,
#option-tree-settings-api p.checkbox-wrap,
#post-body .ot-metabox-panels p.checkbox-wrap {
  float: right;
}

/* --------------------------------------------------
  :: On/Off Switch
  ---------------------------------------------------*/
@media only screen {
  .on-off-switch {
    -webkit-box-shadow: inset -1px 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset -1px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset -1px 1px 1px rgba(0, 0, 0, 0.05);
  }
  .on-off-switch label {
    float: right;
  }
  .on-off-switch .slide-button {
    left: auto;
    right: -1px;
  }
  .on-off-switch input:last-of-type:checked ~ .slide-button {
    left: auto;
    right: 50%;
  }
}

/* --------------------------------------------------
  :: Date Picker
  ---------------------------------------------------*/
.ui-datepicker {
  direction: rtl;
}
.ui-datepicker .ui-widget-header {
  left: auto;
  right: -1px;
}
.ui-datepicker-prev:before {
  border-right: 0px;
  border-left: 1px solid #555;
  content: "\f105";
  float: left;
  width: 31px;
  height: 30px;
}
.ui-datepicker-prev {
  border-right: 0px;
  border-left: 1px solid #333;
  float: right;
  width: 31px;
}
.ui-datepicker-next:before {
  border-left: 0px;
  border-right: 1px solid #333;
  content: "\f104";
  float: right;
  width: 30px;
  height: 30px;
}
.ui-datepicker-next {
  border-left: 0px;
  border-right: 1px solid #555;
  float: left;
  width: 30px;
}
.ui-datepicker thead th:last-child {
  border-left: 1px solid #ccc;
}
.ui-datepicker tbody td {
  border-left: 1px solid #ccc;
}
.ui-datepicker tbody td:first-child {
  border-left: 0px;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}
@-moz-document url-prefix() {
  .ui-datepicker-calendar {
    position: relative;
    right: -1px;
  }
  .ui-datepicker-calendar thead {
    border-right: 1px solid #ccc;
  }
}

/* --------------------------------------------------
  :: Time Picker
  ---------------------------------------------------*/
.ui-timepicker-div {
  direction: rtl;
}
.ui-timepicker-div dl {
  text-align: right;
  padding: 0 5px 0 0;
}
.ui-timepicker-div dl dt {
  float: right;
  clear: right;
}
.ui-timepicker-div dl dd {
  margin: 0 45% 10px 10px;
}

/* --------------------------------------------------
  :: Meta Box Tabs
  ---------------------------------------------------*/
.ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav {
  margin: 0 0 0 -1px;
}
.ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav li {
  border-width: 1px 1px 1px 0px;
  -webkit-border-radius: 0 0 2px 2px;
     -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
}
.ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav li a {
  padding: 6px 35px;
}
.vc_ui-panel-content {
    margin-right: 30px;
    padding: 18px 18px 18px 0;
}
.ot-metabox-panels .select-wrapper {
  float: none;
}
.ot-metabox-panels .format-setting .ot_upload_media {
  right: auto !important;
  left: 0 !important;
}
.ot-metabox-panels .ot-background-group .select-wrapper {
  margin-left: 7px;
  margin-right: 0;
}
.ot-metabox-panels .colors-dropdown {
  left: auto;
  right: -1px;
}
.ot-metabox-panels .colors-dropdown .selected {
  background: #fff url(../images/ot-select-rtl.png) no-repeat left center !important;
  left: auto;
  right: -1px;
}
.ot-metabox-panels .on-off-switch {
  float: right;
}
.ot-metabox-panels .format-setting .description {
  padding-left: 0 !important;
  padding-right: 20px !important;
}
.ot-metabox-panels .colors-dropdown li span.color,
.ot-metabox-panels .colors-dropdown .selected span.color {
  left: 8px;
  right: auto;
}
.ot-metabox-panels .colors-dropdown:not(.focus):not(.open) {
  border-bottom-width: 0 !important;
}
.ot-metabox-panels .format-setting.type-background a.option-tree-ui-remove-media {
  left: -35px !important;
  right: auto !important;
}

/* --------------------------------------------------
  :: Theme Option & Side Metabox Tabs
  ---------------------------------------------------*/
.ot-theme-option-tabs.ui-tabs .ot-theme-option-nav.ui-tabs-nav li.ui-state-default,
#side-sortables .ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav li.ui-state-default {
  float: right;
  margin: 0 3px 0 0 !important;
}


/* misc fix admin */
#option-tree-header #option-tree-version {
  float: left;
}
#option-tree-settings-api .option-tree-opts-wrap>.ui-tabs::before, #option-tree-settings-api>.ui-tabs::before {
  right: 0;
  left: auto;
}
.format-settings:not(.section-title-wrap) .format-setting-label {
  float: right;
  margin: 0 0 0 40px;
}
.format-setting {
  float: left;
}
.select-wrapper:not(.select-uncode-colors) {
  background-position: 0 center;
}
.format-settings:not(.section-title-wrap) .format-setting-label .toggle-description, .toggle-description-extend, .uncode-wrap:not(#page-ot_theme_options) .toggle-description {
  margin-right: 6px;
  margin-left: 0;
}
.ot-numeric-slider.ui-slider {
  direction: ltr;
}
.colors-dropdown .selected, .edit_form_line>select, .select-uncode-colors>select {
    background-position: 0 center;
    background-image: url(../images/ot-select-rtl.png);
}
.colors-dropdown .selected:hover, .edit_form_line>select:hover, .select-uncode-colors>select:hover {
    background-image: url(../images/ot-select-hover-rtl.png);
}
.ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav li a i {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}
.format-setting .format-setting-inner>.link-button a {
  margin: 0 10px 0 0px !important;
}
.icons-selector .selector-search i {
  left: 25px;
  right: auto;
}
.uncode-wrap .uncode-admin-panel table.widefat tr>td:first-child:not(.check-column) {
  padding: 15px 0px 15px 40px;
}
.subsubsub a .count {
  display: inline-block;
}
.uncode-ot-bottom-toolbar #option-tree-options-layouts-form {
    float: right;
}
.uncode-ot-bottom-toolbar form.option-tree-reset-form, .uncode-ot-bottom-toolbar form.toggle-ajax-theme-panel {
    float: left;
    padding: 30px 0 30px 30px;
}
.format-setting.type-background .ot-background-group {
    padding-left: 44px;
    padding-right: 0;
}
.format-setting.type-background a.option-tree-ui-button.button {
    left: 0;
    right: auto;
}
.format-setting-inner>.select-uncode-colors.select-wrapper {
    float: right;
}
.colors-dropdown li span.color, .colors-dropdown .selected span.color {
	left: 15px;
	right: auto;
}
.colors-dropdown .selected span.color {
	left: 50px;
	right: auto;
}
